<div class="content-container">
  <mat-form-field color="accent">
    <input matInput placeholder="Search" [formControl]="fieldSearch" />
  </mat-form-field>

  <mat-grid-list cols="2" rowHeight="150px">
    <mat-grid-tile
      *ngFor="let result of results"
      [colspan]="(isHandset$ | async) ? 2 : 1"
      [rowspan]="rowspan"
    >
      <mat-card class="mat-elevation-z4" (click)="onClickPodcast(result)">
        <mat-card-header>
          <div mat-card-avatar class="mat-elevation-z2">
            <img
              class="podcast-img"
              [src]="result.artworkUrl100"
              height="90"
              width="90"
            />
          </div>
          <mat-card-title>{{ result.trackName }}</mat-card-title>
        </mat-card-header>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
