/* You can add global styles to this file, and also import other style files */

@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/mixins';

@import '../node_modules/bootstrap/scss/utilities/spacing';
@import '../node_modules/bootstrap/scss/utilities/display';
@import '../node_modules/bootstrap/scss/utilities/flex';

html {
  height: 100%;
}
body {
  height: 100%;
  background: black;
}
body {
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
}

.content-container {
  position: absolute;
  left: 20px;
  right: 20px;
  top: 20px;
  bottom: 20px;
  overflow-y: auto;
}

.cdk-virtual-scroll-content-wrapper {
  position: initial !important;
}
