<!-- The content below is only a placeholder and can be replaced. -->

<mat-sidenav-container class="sidenav-container">
  <!-- <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)"
  >
    <mat-toolbar>PodTracker</mat-toolbar>

    <mat-nav-list>
      <a mat-list-item routerLink="/browse" (click)="toggleMenu()">Browse</a>
    </mat-nav-list>

    <mat-divider></mat-divider>
    <h4 mat-subheader>YOUR PODCASTS</h4>
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard" (click)="toggleMenu()"
        >Dashboard</a
      >
      <a mat-list-item routerLink="/followed" (click)="toggleMenu()"
        >Followed</a
      >
    </mat-nav-list>
    <div></div>
    <app-current-podcast-info></app-current-podcast-info>
  </mat-sidenav> -->
  <mat-sidenav-content class="d-flex flex-column">
    

    <div class="fill-remaining-space content-wrapper">
      <router-outlet></router-outlet>
    </div>

    <!-- <mat-toolbar class="main-footer" color="primary">
      <app-audio-player></app-audio-player>
    </mat-toolbar>  -->

    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
